body{
	overflow:hidden;	
}

.node text{
  /*fill: #fff;*/
  cursor: pointer;
}
.node rect{
	fill:white;
	fill-opacity:1;	
}

.node {
  font: 5px sans-serif;
}

.link {
  fill: none;
  stroke-width: 1.5px;
}