/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "MyriadPro-Regular", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 10pt;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #fff;
$body-bg: #fff;
$selection-bg: #04A4CC;
$flair-green: #6EDD8F;
$text-color-white: #FFF;
$text-color-black: #03172B;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;