*{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */   
	cursor: default; 	
}




.hidden{
	visibility:hidden;
}
.disabled{
	  pointer-events: none;
	  /* for "disabled" effect */
	  opacity: 0.5;
	  background: #CCC;	
}

/* override fullPage bullet nav */

.fp-slidesNav{
	margin-left: -50px !important;	
	li:nth-child(0n+3),li:nth-child(0n+4){	
		visibility:hidden;
	}
}


.borderinfo-container{
	
	position:absolute;
	top:0;
	width:100vw;
	height:100vh;
	color:$text-color-white;
	font-family: "ReplicaStd-Regular";
	font-size: 9pt;
	
	.borderinfo-element{
		z-index: 1000;
		position:absolute;
	}
	
	#bi-flairedu-1{
		top:$info-v-margin;
		right:$info-h-margin;
	}
	
	#bi-meta-2{
		top:$info-v-margin;
		left:$info-h-margin;
	}
	#bi-flairedu-2{
		top:$info-v-margin;
		right:$info-h-margin;
	}
	
	#bi-meta-3{
		color:$text-color-black;
		top:$info-v-margin;
		left:$info-h-margin;
	}
	#bi-flairedu-3{
		color:$text-color-black;
		bottom:$info-v-margin;
		left:$info-h-margin;
	}
	#bi-step-3{
		color:$text-color-black;
		top:50%;
		left:$info-h-margin;
		text-align:center;
	}
	#bi-title-3{
		color:$text-color-black;
		top:$info-v-margin;
		left:calc(50% - #{$planetary-agenda-menu-width/2});
		margin-left:-120px;
		text-align:center;
	}
	
	#bi-meta-4{
		top:$info-v-margin;
		left:$info-h-margin;
	}
	#bi-flairedu-4{
		top:$info-v-margin;
		right:$info-h-margin;
	}
	#bi-step-4{
		top:50%;
		left:$info-h-margin;
		text-align:center;
	}
	
}

.subwrap{
	width: $sub-wrapper-width;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}


.simple-button{
	

	
	cursor:pointer;
	
	transition: $base-transition;
	
	
	
	.sb-label{
		transition: $base-transition;
		color: $text-color-white;	
	}
	.sb-ico{
		transition: $base-transition;
		background: $flair-green;
		color: $text-color-black;	
	}
}

.simple-button:hover{
	
	border-left-color:$fair-green-light !important;
	.sb-label{
	}
	.sb-ico{
		background: $fair-green-light !important;
		color: $text-color-white !important;
	}
}
.simple-button:active{
	
	border-left-color:$fair-green-light !important;
	.sb-label{
	}
	.sb-ico{
		background: $fair-green-light !important;
		color: $text-color-black !important;
	}
}


.left-column{
	padding-right: 143px;	
	float : left;
	
}

.right-column{
	padding-right: 30px;
	float : right;
	margin-top: 65px;
}


.intro-title{
	
	font-family: "ReplicaStd-Regular";
	font-size: 31pt;
	line-height:1;
	margin-bottom:30px;
	
	.intro-title-line-1{
		color: $flair-green;
	}
	.intro-title-line-2{
		color: $text-color-white;
	}
}
.intro-subtitle{
	font-family: "ReplicaFlairStd-Italic";
	font-size: 13pt;
	color: $flair-green;
	margin-bottom:30px;
}


.intro-box{
	
	border-left-width:4px;
	border-left-color:$flair-green;
	border-left-style:solid;
	
	margin-bottom:20px;
	padding: 15px 30px;
	

	.title{
		font-family: ReplicaStd-Regular;
		font-size: 16pt;
		
		
	}
	.text{
	}
	
}

.intro-box-black{
	background: $text-color-black;
	color: $text-color-white;
}

.intro-box-white{
	background: $text-color-white;
	color: $text-color-black;
}




.step-title{
	
	font-family: "ReplicaStd-Regular";
	font-size: 31pt;
	line-height:1;
	margin-bottom:30px;
	color: $text-color-white;
}

.step-subtitle{
	font-family: "ReplicaFlairStd-Italic";
	font-size: 13pt;
	color: $flair-green;
	margin-bottom:30px;
}

.step-next-button{
			border-left-width:4px;
			border-left-color:$flair-green;
			border-left-style:solid;
			height:62px;
			margin: 106px 76px;
			background: $text-color-black;
			
			.text{
				
				color: $text-color-white;
				position: absolute;
				height: $button-height;
				
				font-family: "ReplicaStd-Regular";
				font-size: 15pt;
				
				margin: 15px 10px;
				text-align: center;
				width: 280px;
			}
			.icon{
				background: $flair-green;
				color: $text-color-black;
				position: absolute;
				height: 62px;
				width: 62px;
				right: 66px;
				font-family: ReplicaStd-Regular;
				font-size: 24pt;
				padding: 8px 22px;
			}
			.next-ico:after{
				content:"\58";	
			}
			
		}


.planetary-agenda{
	background: white;
	color:$text-color-black;	
}

.planetary-agenda-container{
	position:absolute;
}

.right-menu{
	float:right;
	width:$planetary-agenda-menu-width;	
	height:100%;
	
	@include linear-gradient(#43345E, #70345D);
	color: $text-color-white;
	
	.title{
		color:	$flair-green;
		width: 100%;
		text-align: center;
		margin-top: 60px;
		margin-bottom: 60px;
		font-family: ReplicaStd-Regular;
		font-size: 16pt;
	}
	.selected-paths-section{
		position:absolute;
		height:300px;
		width:$planetary-agenda-menu-width;
		
		.path{
			
			border-left-width:4px;
			border-left-color:$flair-green;
			border-left-style:solid;
			
			
			padding: 0px 30px 0px 15px;
			margin: 0px 0px 10px 0px;
			
			.close-btn{
				float:right;
				background:$flair-green;
				color:$text-color-black;
				width: 20px;
				height: 20px;
				line-height: 100%;
				font-family: ReplicaStd-Regular;
				font-size: 11pt;
				padding: 2px 0 0px 7px;
				margin: 0 -30px 0 0;
			}
			.close-btn:hover{
				background:$fair-green-light;
				color:$text-color-white;
			}
			.close-btn:active{
				background:$fair-green-light;
			}
			.close-btn:after{
				content:"\78";
			}
		
			.axe{
			}
			.axe-prefix{
			}
			.subcategory{
				
			}
			.subcategory-prefix{
			}
			
			.red{
				color:#E64047;
			}
			.blue{
				color:#4AA6E7;
			}
			.yellow{
				color:#FEBC59;
			}
		}
		
		
		
	}
	
	.buttons-group{
		height:$planetary-agenda-menu-width;
		position: absolute;
		bottom:-70px;
		width:$planetary-agenda-menu-width;
		
		.button{
			border-left-width:4px;
			border-left-color:$flair-green;
			border-left-style:solid;
			height:$button-height;
			margin: 10px 20px;
			background: $text-color-black;
			
			.text{
				
				color: $text-color-white;
				position: absolute;
				height: $button-height;
				
				margin: 10px 10px;
				text-align: center;
				width: $planetary-agenda-menu-width - 86px;
			}
			.icon{
				background: $flair-green;
				color: $text-color-black;
				position: absolute;
				height: $button-height;
				width:$button-height;
				right: 10px;
				
				font-family: ReplicaStd-Regular;
				font-size: 16pt;
				padding: 5px 12px;
			}
			
			.generate-ico:after{
				content:"\58";	
			}
			
			.reset-ico:after{
				content:"\58";
			}
			
			.validate-ico:after{
				content:"\58";
			}
		}
	}
	
}

#summary-slide{
	@include linear-gradient(#43345E, #70345D);	
}

.summary-title-container{

	font-family: "ReplicaStd-Regular";
	font-size: 31pt;
	line-height:1;
	width: 100%;
	text-align: center;
	margin-top: 42px;
	
	.summary-title-1{
		color: $text-color-white;
	}
	.summary-title-2{
		color: $flair-green;
	}
	
}
.paths-summary-container{
	height:300px;
	width: $sub-wrapper-width;
	text-align: center;
	padding: 113px 0 0 64px ;
	
	
	.path{
		float:left; 
		padding: 0px 30px 0px 5px;
		margin: 0px 0px 10px 15px;
		border-left-width:4px;
		border-left-style:solid;
		max-width:300px;
		text-align: left;	
	}
	
}
.save-as-pdf-btn-container{
	width:100%;
	text-align: center;
	
	#save-as-pdf-btn{
		
		border-left-width:4px;
		border-left-color:$flair-green;
		border-left-style:solid;
		height:34px;
		width:150px;
		margin : auto;
		background: $text-color-black;
		
		.text{
			margin: 8px 0px 0 -43px;
			position: absolute;	
		}
		
		.save-as-pdf-ico{
			background: $flair-green;
			position: absolute;
			height: 34px;
			width: 34px;
			margin-left: 50px;
			font-family: ReplicaStd-Regular;
			font-size: 19pt;
			padding: 0px 8px;	
		}
		
		.save-as-pdf-ico:after{
			content:"\58";
		}
	}

}
	
	
	
	
	
